# Common AI/ML/NLP packages
numpy
scipy
pandas
matplotlib
seaborn
scikit-learn
jupyterlab
notebook
ipykernel
tqdm
transformers
datasets
accelerate
sentence-transformers
tokenizers
huggingface-hub
torch
torchvision
spacy
langchain
networkx>=3.2
sentence-transformers>=2.7.0 
langchain 
langchain-core
langchain-text-splitters
langchain-community 
langchain-chroma 
langchain-huggingface
langchain-groq
langchain-anthropic
langchain-neo4j
langchain-openai
langchain-ollama
neo4j
dotenv
langgraph
pydantic
chromadb 
sentence-transformers 
unstructured
einops
pathlib
rank_bm25
rouge_score
bert_score

